* {
	box-sizing: border-box;	
}

html, body {
	font-size: 0.875rem;
	height: 100%;
}

body {
	height: 100%;
	color: #333;
}

input {
	outline: none;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}

input[type="text"]::placeholder {
	font-size: 0.875rem;
}